/* src/components/Layout.css */

.layout-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* --- SIDEBAR --- */
.sidebar {
  width: var(--sidebar-width);
  background-color: var(--bg-sidebar);
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Evita que el sidebar se aplaste */
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-header {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
}

.sidebar-header img {
  width: 120px;
  height: 45px;
  margin-right: 0.75rem;
}

.sidebar-nav {
  flex: 1; /* Empuja el footer hacia abajo */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.875rem 1rem;
  color: var(--text-sidebar);
  text-decoration: none;
  border-radius: var(--border-radius-md);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--text-sidebar-active);
}

/* Estado Activo inyectado por NavLink */
.nav-item.active {
  background-color: var(--bg-sidebar-active);
  color: var(--text-sidebar-active);
  border-left: 4px solid var(--brand-green);
}

.sidebar-footer {
  padding: 1.5rem;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.875rem 1rem;
  background: transparent;
  border: none;
  color: var(--text-sidebar);
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  transition: color 0.2s;
}

.logout-btn:hover {
  color: var(--danger-red);
}

.icon img{
  width: 18px;
  height: 20px;
}

/* --- MAIN CONTENT --- */
.main-content {
  flex: 1; /* Toma todo el espacio restante */
  background-color: var(--bg-main);
  overflow-y: auto; /* Permite scroll vertical solo en el contenido */
  position: relative;
}

.content-wrapper {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}